/**
 * Genericons, a flexible icon-font.
 * License: GPL version 2 or any later version with font exception (http://www.gnu.org/licenses/gpl-faq.html#FontException)
 * See also LICENSE.txt and COPYING.txt in the ./fonts directory.
 * Thanks to FontSquirrel for web-font conversion!
 * More info: genericons.com
 */
@font-face {
	font-family: 'Genericons';
	src: url('../fonts/genericons-regular-webfont.eot');
	src: url('../fonts/genericons-regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/genericons-regular-webfont.woff') format('woff'),
		 url('../fonts/genericons-regular-webfont.ttf') format('truetype'),
		 url('../fonts/genericons-regular-webfont.svg#genericonsregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

.genericon:before,
.large-btns_nav:before,
.bypostauthor .fn:before,
.comment-reply-link:before,
.edit-link a:before, {
	-webkit-font-smoothing: antialiased;
	font: normal 16px/1 'Genericons';
	vertical-align: text-bottom;
}

.genericon-rightarrow:before,
.large-btns1_nav.next:before {
	content: '\f501';
}

.genericon-leftarrow:before,
.large-btns1_nav.prev:before {
	content: '\f503';
}

a {
	color: @linkColor;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}

	&:visited,
	&:active {

	}
}

.section-title,
.page-title {
	#font > .serif-alt(47px, normal, normal);

	margin: 80px 0 25px;
}

.page-title {
	margin-top: 40px;
}

.area-title {
	#font > .sans-serif-alt(18px, normal, normal);
	color: @grayDarker;

	margin: 0 0 15px;
	padding: 0 0 2px;
	border-bottom: 1px dashed lighten(@grayLighter, 5%);
	position: relative;

	&:after {
		border-bottom: 1px dashed lighten(@grayLighter, 5%);
		content: ' ';
		position: absolute;
		bottom: 0;
		left: 1px;

		.size(100%, 1px);
	}
}

.sub-section {
	#font > .sans-serif-alt(20px, normal, normal);
	color: @white;

	margin: 0 0 10px;
}

.entry-content {
	line-height: 22px;
	color: @blueLight;

	p {
		margin-bottom: 2.5em;
	}
}