.hero-slider {
	position: relative;
}

.rslides {
	position: relative;
	overflow: hidden;
	width: 1100px;
	margin: 0 auto !important;

	.reset-list;

	li {
		-webkit-backface-visibility: hidden;
		
		position: absolute;
		display: none;
		margin: 0;
		padding: 0;
		left: 0;
		top: 0;

		.size(100%, 430px);

		.container {
			height: 430px;
		}

		&:first-child {
			position: relative;
			display: block;
			float: left;
		}
	}

	img {
		display: block;
		height: auto;
		float: left;
		width: 1100px;
		height: 430px;
		border: 0;
	}

	.read-more {
		position: absolute;
		bottom: 40px;
		right: 40px;
	}
}

.large-btns_nav {
	font-size: 30px;
	line-height: 70px;
	text-align: center;
	color: @white;
	color: rgba(255, 255, 255, .70);
	cursor: pointer;

	z-index: 3;
	position: absolute;
	overflow: hidden;
	top: 50%;
	left: 0;
	background: #000;
	margin-top: -40px;

	.size(35px, 80px);
	#translucent > .background(@black, 50%);

	&:active {
		opacity: 1.0;
	}

	&:hover {
		color: @white;
		text-decoration: none;

		#translucent > .background(@black, 65%);
	}

	&.prev {
		#border-radius > .rights(3px);
	}

	&.next {
		left: auto;
		right: 0;

		#border-radius > .lefts(3px);
	}
}

.large-btns1_nav.next:before,
.large-btns1_nav.prev:before {
	font-size: 20px;
}

.large-btns1_nav.prev::before {
	margin-right: 12px;
}

.large-btns1_nav.next::before {
	margin-left: 12px;
}

.slider-stuff {
	position: absolute;
	top: 50%;
	left: 0;
	max-width: 600px;
}

.slider-title {
	#font > .serif-alt(50px, 300, 67px);
	text-align: left;

	margin: 0 0 0 10px;
	
	span {
		background: rgba(0, 0,0, 0.5);
		box-shadow: 10px 0 0 rgba(0, 0, 0, 0.5), -10px 0 0 rgba(0, 0, 0, 0.5);
	}

	a {
		color: @yellow;
		font-weight: 400;
	}
}

.slider-more {
	margin-top: 10px;
}

.feature {
	padding: 45px 0;
	
	.clearfix;

	&.left {
		.feature-graphic {
			text-align: left;
		}

		.feature-description {
			text-align: right;
		}
	}
}

.feature-graphic,
.feature-description {
	text-align: left;

	margin: 0 2.5%;
	width: 45%;
	float: left;
}

.feature-description {
	margin-top: 25px;

	h2,
	h1 {
		#font > .serif-alt(38px, 400, 46px);
		text-shadow: rgba(0, 0, 0, .16) 0 1px 1px;

		margin: 0 auto;
	}

	h1 {
		#font > .serif-alt(50px, 400, 47px);
		font-size: 50px;
		line-height: 65px;
	}

	.lead {
		#font > .serif-alt(20px, normal, normal);
	}
}

.feature-cta {
	margin-top: 30px;
}

/*.feature-map {
	background: url(../images/map-texture.png) repeat;

	.size(100%, auto);
}*/

.feature-intro {
	.feature-description {
		width: auto;
		text-align: center;
		margin: 0 auto;
		float: none;
	}
}

.feature-timeline {

}

.feature-people {

	blockquote {
		margin: 40px auto 0;
		clear: both;
		#font > .sans-serif(18px, normal, 24px);
		text-align: center;
		color: lighten(@blueLight, 20%);
		max-width: 650px;
	}
}

.backstretch:after {
	content: " ";
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	background: rgba(0, 0, 0, .1) url(../images/texture-dots.png) repeat center center;

	.size(100%, 100%);
}

.sponsors img {
	max-width: 100%;
}