.glossary-archive {
  width: 240px;
}
.glossary-archive ul {
  margin: 1em 0 0;
  padding: 0;
  list-style-position: inside;
}
.entry-content .glossary-archive-title {
  font-size: 28px;
  margin-top: 0;
}
