.hero-slider {
	position: relative;
}

.home-slider {
	clear: both;
	overflow: hidden;

	ul {
		.reset-list;

		position: relative;
	}
	
	li {
		padding: 0;
		float: left;
		position: relative;
		
		.size(100%, 430px);

		.container {
			height: 430px;
		}
	}
}

.rslides {
	position: relative;
	list-style: none;
	overflow: hidden;
	width: 100%;
	padding: 0;
	margin: 0;

	li {
		-webkit-backface-visibility: hidden;
		position: absolute;
		display: none;
		width: 100%;
		left: 0;
		top: 0;

		&:first-child {
			position: relative;
			display: block;
			float: left;
		}
	}

	.rslides img {
		display: block;
		height: auto;
		float: left;
		width: 100%;
		border: 0;
	}
}

.large-btns_nav {
	font-size: 30px;
	line-height: 70px;
	text-align: center;
	color: @white;
	color: rgba(255, 255, 255, .70);

	z-index: 3;
	position: absolute;
	overflow: hidden;
	top: 50%;
	bottom: 0;
	left: 0;
	background: #000;
	width: 35px;
	height: 80px;
	margin-top: -40px;

	#translucent > .background(@black, 50%);

	&:active {
		opacity: 1.0;
	}

	&:hover {
		color: @white;
		text-decoration: none;

		#translucent > .background(@black, 65%);
	}

	&.next {
		left: auto;
		right: 0;
	}
}

.large-btns1_nav.next:before,
.large-btns1_nav.prev:before {
	font-size: 20px;
}

.large-btns1_nav.prev::before {
	margin-right: 12px;
}

.large-btns1_nav.next::before {
	margin-left: 12px;
}

.slider-stuff {
	position: absolute;
	top: 50%;
}

.slider-title {
	#font > .serif-alt(50px, 300, 67px);
	text-align: left;

	max-width: 600px;
	margin: 0 0 0 10px;
	padding: 0 2px;
	left: 0;

	span {
		background: rgba(0, 0,0, 0.5);
		box-shadow: 10px 0 0 rgba(0, 0, 0, 0.5), -10px 0 0 rgba(0, 0, 0, 0.5);
	}

	a {
		color: @yellow;
		font-weight: 400;
	}
}

.feature {
	padding: 45px 0;
	
	.clearfix;

	&.left {
		.feature-graphic {
			text-align: left;
		}

		.feature-description {
			text-align: right;
		}
	}
}

.feature-graphic,
.feature-description {
	text-align: right;

	margin: 0 2.5%;
	width: 45%;
	float: left;
}

.feature-description {
	text-align: left;

	margin-top: 25px;

	h2 {
		#font > .serif-alt(50px, 400, 47px);
		text-shadow: rgba(0, 0, 0, .16) 0 1px 1px;

		margin: 0;
	}
}

.feature-cta {
	margin-top: 30px;
}

.feature-map {
	background: url(../images/map-texture.png) repeat;

	.size(100%, auto);
}

.feature-timeline {

}

.feature-people {
	
}

.backstretch:after {
	content: " ";
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	background: rgba(0, 0, 0, .1) url(../images/texture-dots.png) repeat center center;

	.size(100%, 100%);
}